.placing {
    .sub-1 {
        color: var(--grey-medium);
        margin-bottom: 24px;
    }

    h2 {
        margin-bottom: 16px;
        color: var(--black-primary);
    }

    .placing-text {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .b-1-medium {
            counter-reset: section;
            color: var(--violet-primary);

            .list {
                padding-left: 18px;

                &:before {
                    counter-increment: section;
                    content: counter(section) '.';
                    position: absolute;
                    left: 0;
                }
            }
        }
    }
}
